<!DOCTYPE html>
<html>
<head>
    <title>App History</title>
    <script >
        document.addEventListener("DOMContentLoaded", function () {
            const historyTable = document.getElementById("history-table");
        
            function updateHistoryTable(selectedDate) {
                fetch(`/get_history?selected_date=${selectedDate}`)
                    .then(response => response.json())
                    .then(historyData => {
                        historyTable.innerHTML = generateHistoryTable(historyData);
                    });
            }
        
            function generateHistoryTable(historyData) {
                if (!historyData) {
                    return "<p>No history available for the selected date.</p>";
                }
        
                let tableHTML = "<h2>App History</h2><table border='1'><tr><th>App Name</th><th>Start Time</th><th>End Time</th><th>Usage Time</th></tr>";
        
                for (const recordKey in historyData) {
                    const recordData = historyData[recordKey];
                    tableHTML += `<tr><td>${recordData['app_name']}</td><td>${recordData['start-time']}</td><td>${recordData['end-time']}</td><td>${recordData['usage-time']}</td></tr>`;
                }
        
                tableHTML += "</table>";
                return tableHTML;
            }
        
            // Lắng nghe sự kiện form submission
            const form = document.getElementById("history-form");
            form.addEventListener("submit", function (event) {
                event.preventDefault();  // Ngăn chặn form submission mặc định
        
                const selectedDate = document.getElementById("selected_date").value;
                updateHistoryTable(selectedDate);
            });
        
            // Mở đầu, hiển thị dữ liệu cho ngày hiện tại
            const currentDate = new Date().toISOString().split('T')[0];
            updateHistoryTable(currentDate);
        });
        
    </script>
</head>
<body>
    <h1>Select Date</h1>
    <form id="history-form">
        <label for="selected_date">Select Date:</label>
        <input type="date" id="selected_date" name="selected_date" required>
        <button type="submit">Get History</button>
    </form>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <div id="history-table"></div>
</body>
</html>
