<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KeyLogger</title>
        
        <style>
            body{
                display: flex;
                justify-content: center;
                align-items: center;
                height:  100vh;
                margin: 0;
                word-wrap: break-word;
                white-space: pre-line;
            }
        </style>
    </head>
    <body>
        
        {{data_received}}
    </body>

</html>