<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login form</title>
        
        <style>
            body{
                display: flex;
                justify-content: center;
                align-items: center;
                height:  100vh;
                margin: 0;
            }
        </style>
        <script>
            function fetchDataAndUpdate() {
                // Lấy dữ liệu từ máy chủ
                fetch('/plain_text_data')
                    .then(response => response.text())
                    .then(data => {
                        // Cập nhật dữ liệu trên view
                        document.getElementById('keyLoggerData').innerText = data;
                    });
            }
    
            // Cập nhật dữ liệu sau mỗi 5 giây
            setInterval(fetchDataAndUpdate, 2000);
        </script>
    </head>
    <body>
        <div id="keyLoggerData"></div>
    </body>

</html>